html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Times';

}




.navbar {
    background: #031231;
    height:80px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;

}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #c55252 0%,
     #803535 100%); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: beige;
    -moz-text-fill-color: blue;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: overline;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 15px;
    height: 51%;
    margin: 25px;
    width: 80%;
    border: groove;
    outline: 3px;
    border-radius: none;
    font-family: Arial, Helvetica, sans-serif ; 
    border-radius: 50px 50px;
    background: #cc0052
    ;
}

.navbar__links:hover {
    color: #ffffff;
    transition: all 0.4s ease;
    transform: scale(1.2);

}

.main {
   background: linear-gradient(to top, #031231 0%, #031231 100%);
   padding: 200px;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 80vh;
    z-index: 1;
    border: groove;
    border-radius: 25px 25px;
    width: 100%;
    max-width:1300px;
    padding: 40px 40px;
}

.main__img--container:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.main__content h1 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    border: groove;
    border-radius: 40px 40px;
    background: #ffffff;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: underline;
    margin: 10px;
}

.main__content h2 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #e4e1e2 0%, #d7e9ee 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: underline;
    margin: 10px;
}

.main__content p {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ebb0bf 0%, #aedaf3 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: underline;
    margin: 10px;
}

.main__aboutme h1 {
    font-size: 5rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #00ffd5 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__aboutme h3 {
    font-size: 2.5rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ebcda0 0%, #ebcda0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__img--aboutme:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.main__myhobbies h1 {
    font-size: 5rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #00ffd5 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__myhobbies h3 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ebcda0 0%, #ebcda0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__skills h1 {
    font-size: 5rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #00ffd5 0%, #ffffff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__skills h3 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ebcda0 0%, #ebcda0 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__skills p{
    font-size: 2rem;
    font-family: sans-serif;
    background-color: #be2929;
    background: #ffffff;
    background-image: linear-gradient(to top, #e7e5e6 0%, #f3f3f3 100%);
    color: rgb(231, 127, 153), darkcyan;
    border: solid;
    border-radius: 20px 20px;


}

.main__skills h4 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ad1643 0%, #e9e9e9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__aboutme h4 {
    font-size: 3rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #ad1643 0%, #e9e9e9 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    margin: 10px;
}

.main__hobbies--list{
    font-size: 2.5rem;
    background-color: #be2929;
    font-family: Skolar Latin and Proxima Nova;
    background: #ffffff;
    background-image: linear-gradient(to top, #d6c5ca 0%, #dbcfcf 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: wavy;
    color: #04f1f1;
    margin: 10px;
}



















